# dotfiles
.*

# wildcards
WORK*
GAMBIT*
oD-*

lib/*.pyc

# directories
Applications/
Audio/
Desktop/
Documents/
Downloads/
Downloaded*/
Dropbox/
Onedrive/
Gdrive*
Google Drive File Stream
Library/
Movies/
Music/
NVIDIA*/
PDF/
Pictures/
Public/
PyCharm*/
Templates/
Ubuntu One/
Videos/
Zotero/

build/
collect/
dirs/
document/
intel/
mnt/
opt/
public_html/
self/
tmp/
var/
vmware/
vgwork/
vmscript/
virtualboxes/
work/
hack/

# files
default_id.lok
hp-check.log
postponed
sent

texmf/ls-R
